body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

a {
    color: #333333;
    text-decoration: none;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-2px, 2px);
    background-color: #FFFFFF;
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    background-color: #e0e0e0;
    width: 100%;
    margin-bottom: 20px;
  }
  
  nav .logo {
    display: flex;
    margin-left: 200px;
    align-items: center;
  }
  
  nav .menu {
    margin-left: 5px;
    padding-left: 18px;
    font-style: normal;
    color: #333;
    font-weight: 600;
  }
  .menu h1 {
    font-size: 20px;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    height: 40px;
    border-radius: 2px;
    padding: 0 17px;
    margin-right: 200px;
  }
  
  .nav-list li {
    line-height: 19.2px;
    justify-content: center;
    margin: 5px;
  }

.mobile-menu div {
    width: 18px;
    height: 2px;
    background: #333333;
    margin: 7px;
    margin: 3px 20px 3px 0px;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
}

/* main css */

.form-section {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    border: solid #979797 1px; 
    width: 25%;
    gap: 20px;
}

.extract {
    width: 40%;
}

h2 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.fields h4 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 2.78px;
}

.fields {
    width: 99%;
    justify-content: space-around;
}

.fields h4 {
  font-size: 14px;
  color: #333333;
  margin: 0;
  margin-bottom: 5px;
}

.value, .name{
  padding-top: 20px;
}

select{
  color: #888;
}

.fields select {
  margin: 0;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  padding-left: 6px;
}

.fields input {
  margin: 0;
  width: 97%;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #888888;
  padding-left: 6px;
  padding-right: 0;
  font-family: 'inter', sans-serif;
}

.add-tran {
    background: #333333;
    color: #FFFFFF;
    width: 100%;
    border: 4px #333333 solid;
    border-radius: 4px;
    height: 32px;
    font-family: 'inter', sans-serif;
}

.button-div {
    width: 100%;
}

.extract {
    display: flex;
    flex-direction: column;
}

.extract-table {
    margin-bottom: 2.78px;
    width: 100%;
    height: 100%;
}

.extract td {
    border-bottom: 1px solid #979797;
    border-spacing: 0px;
    line-height: 25px;
}

.extract .total td {
    border-top: 1px solid #979797;
}

footer {
    background-color: #333333;
    width: 100%;
    height: 8px;
    bottom: 0;
    position: fixed;
}

@media screen and (max-width: 1112px) {
/*midiaquery header tablet landscap*/

    nav .logo{
        padding: 0;
        margin-left: 20px;
    }

    .nav-list {
        padding: 0;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .nav-list {
        position: absolute;
        top: 0vh;
        right: 0vh;
        width: 252px;
        height: 100vh;
        background-color: #333333;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: end;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        margin: 0;
        padding: 0;
        padding-top: 80px;
    }

    a:hover {
        color: black;
        background-color: white;
        margin-right: 22px;
    }

    li:hover {
        margin: 0;
        background-color: white;
        justify-content: flex-end;
        width: 100%;
    }
    
    .nav-list li {
        color: #FFF;
    }

    .nav-list a{
        color: #FFf;
        margin-right: 5px;
    }
    .logo {
        width: 100%;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mobile-menu {
        display: block;
        width: 10%;
        right: 0;
        z-index: 1000;
        margin-right: 20px;
    }

    .mobile-menu.active {
        margin-right: 190px;
        color: #fff;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .bar {
        display: none;
    }

/* main */

.form-section {
    flex-direction: column;
    align-items: center;
  }

  .transaction {
    display: block;
    width: 90%;
    flex-direction: row;
  }

  .fields {
    display: flex;
    align-items: center;
  }

  .h2-trans {
    text-align: center;
  }

  .select-div {
    width: 25%;
  }

  .select-div h4 {
    padding-top: 20px;
    white-space: nowrap;
  }

  .name-div {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .value-div {
    width: 25%;
  }

  .add-tran {
      margin-top: 20px;
      width: 30%;
  }
  
  .button-div {
    display: flex;
    justify-content: end;
  }

  .extract {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 411px) {

.nav-list {
    width: 351px;
}

.mobile-menu.active {
    margin-right: 10px;
}

/* main */

.transaction {
    border: none;
    margin-top: 0;
    border-bottom: 1px solid #333333;
}

.h2-trans {
    display: none;
}

.fields {
display: flex;
flex-direction: column;
}

.select-div,
.name-div,
.value-div,
.add-tran {
width: 100%;
}

.button-div {
    width: 99%;
    margin-bottom: 20px;
}

}